[submodule "codebases/django"]
	path = codebases/django
	url = https://github.com/django/django
	shallow = true
[submodule "codebases/fastapi"]
	path = codebases/fastapi
	url = https://github.com/tiangolo/fastapi
	shallow = true
[submodule "codebases/mattermost-webapp"]
	path = codebases/mattermost-webapp
	url = https://github.com/mattermost/mattermost-webapp
	shallow = true
[submodule "codebases/clap"]
	path = codebases/clap
	url = https://github.com/clap-rs/clap
